/***************** STYLE *********************/

#main-wrapper{
  background: url(../img/bg.png) no-repeat top center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  min-height: 600px;
  display: flex;
  text-align: center;
  -webkit-animation-name: bgin; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
  animation-name: bgin;
  animation-duration: 1s;
}

.input-element {
  background:none !important;
  color: white;
  padding-left: 10px;
}

input {
    background: transparent;
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: 4px solid !important;
    font-weight: 200;
    color: white;
    padding-left: 0;
    box-shadow: none !important;
}

#close{
    position: absolute;
}

svg{
  max-width: 20px;
  max-height: 20px;
}

#form{
  justify-content:center;
  min-width: 100%;
}

#inner-wrapper{
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 70px;
    position:relative;
}

.input-group{
  text-align: center;
}

.input-consent{
  padding-top: 30px;
  padding-bottom: 10px;
}

#consent-label{
  font-size: 11px;
}

.error-message{
  font-size: 10px;
}

#send{
  line-height: 30px;
  border-radius: 100px;
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  padding: 0 15px;
  box-shadow: none !important;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  transition-duration: .2s;
}

#send:hover{
  border-width: 4px;
  font-weight: 600;
}


/***************** ANIMATIONS *********************/


@keyframes bgin{

  0% {transform: scale(0.0); visibility: hidden;}
  100% {transform: scale(1.0); visibility: visible;}
}


/***************** MEDIA QUERIES *********************/

@media screen and (max-width: 700px) {
  #main-wrapper{
   background: url(../img/bg2.png) no-repeat top center;
 }

  #inner-wrapper{
      padding-top: 120px;
      font-size: 10px;
  }
}
